.custom-btn {
    background-color: white; /* 배경색 */
    color: #646982; /* 텍스트 색상 */
    border: 1px solid #B9BDD3; /* 테두리 */
    border-radius: 3px; /* 테두리 둥글기 */
    padding: 5px 10px; /* 내부 여백 */
    font-size: 12px; /* 폰트 크기 */
    cursor: pointer; /* 마우스 커서 */
}
.custom-btn:hover {
    background-color: white; /* 마우스 호버 시 배경색 변경 */
    border-color: #B9BDD3; /* 마우스 호버 시 테두리 색 변경 */
    color: black; /* 마우스 호버 시 텍스트 색상 변경 */
    font-weight: bold; /* 마우스 호버 시 Bold 로 보여주기 */
}

.cart-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0px 30px;
}

.info-div {
    display: flex;
    margin-top: 15px;
}

.column-div {
    width: 17%;
    font-weight: bold;
}

.tuple-div {
    width: 83%;
}