<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">detailMovie</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/movie/movieDetail.css}" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/js/movie/detailMovie.js"></script>
</th:block>

<div class="container" layout:fragment="content">
  <!-- MovieDetail section-->
  <section class="py-5">
    <div class="container-div px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center" th:object="${movie}">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="*{img}" alt="..." /></div>
        <div class="col-md-6" style="padding-left: 10%">
          <div>
            <h1 class="display-5 fw-bolder" th:text="*{title}">영화제목</h1>
          </div>
          <div class="fs-6 mb-2" style="padding-top: 2%">
            <span th:text="*{(age != null ? age + ', ' : '') + runningTime + '분'}">관람나이, 러닝타임 </span>
          </div>
          <div class="fs-5 mb-4 cart-div">
            <span style="font-size: 15px">즐겨찾기</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="margin: 0px 10px">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
            </svg>
            <!--즐겨찾기 버튼을 누르면 즐겨찾기 등록과 함께 꽉찬 별모양 아이콘으로 변경-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>-->
          </div>
          <div class="fs-5 mb-2 info-div">
            <div class="column-div">감독 </div>
            <span th:text="*{directorName}">감독명</span>
          </div>
          <div class="fs-5 mb-2 info-div">
            <div class="column-div">개봉일 </div>
            <span th:text="*{(releaseDate != null ?
            releaseDate.getYear() + '년 ' + releaseDate.getMonth().value + '월 ' + releaseDate.getDayOfMonth() + '일' : '미상')}">개봉일자</span>
          </div>
          <div class="fs-5 mb-2 info-div">
            <div class="column-div">배우 </div>
            <div class="tuple-div">
              <span th:each="actor, stat : ${actorList}">
                <span th:text="${actor.actorName + (stat.last ? '' : ',&nbsp')}"></span>
              </span>
            </div>
          </div>
          <div class="fs-5 mb-2 info-div">
            <div class="column-div">장르 </div>
            <span th:each="genre, stat : ${genreList}">
              <span th:text="${genre.genreName + (stat.last ? '' : ',&nbsp')}"></span>
            </span>
          </div>
<!--          <div class="fs-5 mb-4" style="padding-top: 10%">-->
<!--            <div class="column-div">줄거리 </div>-->
<!--            <p class="fs-6 mb-3" th:text="${movie.plot}">줄거리 내용</p>-->
<!--          </div>-->
<!--          <div class="fs-5 mb-4" style="padding-top: 5%">-->
<!--            <span>즐겨찾기</span>-->
<!--            <span style="margin-left : 3%">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="margin: 0px 10px">-->
<!--            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>-->
<!--            </svg>-->
<!--              &lt;!&ndash;즐겨찾기 버튼을 누르면 즐겨찾기 등록과 함께 꽉찬 별모양 아이콘으로 변경&ndash;&gt;-->
<!--              &lt;!&ndash;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">-->
<!--              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>-->
<!--              </svg>&ndash;&gt;-->
<!--          </span>-->
<!--          </div>-->

        </div>
        <div class="fs-5 mb-4" style="padding-top: 5%">
          <div class="column-div" style="padding-bottom: 2%">줄거리 </div>
          <p class="fs-6 mb-3" th:text="${movie.plot}">줄거리 내용</p>
        </div>
      </div>
    </div>
  </section>
  <!-- 추천영화 section-->

  <section class="py-5 bg-light">
    <hr>
    <div class="container-div px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">비슷한 영화</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">영화제목</h5>
                감독, 개봉년도
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/detailMovie">자세히 보기</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- 댓글 다는 부분-->
    <div style="width: 80%; margin:0 auto">
      <span>댓글</span>
      <textarea class="form-control" cols="10" rows="5" style="resize: none;"></textarea>
      <div style="margin: 10px 0 10px 0; display: flex; justify-content: space-between;">
        <input type="button" class="btn custom-btn" value="댓글등록">
      </div>
    </div>

    <!--댓글 목록-->
    <div style="width: 80%; margin:0 auto">
      <hr>
      <div>
        <strong>이 름</strong>
        <span style="color: #848484; margin-left:10px">(댓글단시간)</span>
      </div>
      <div class="comment-content">댓글내용</div>
      <!--댓글 수정 버튼 눌렀을 때-->
      <div class="edit-form" style="display: none;">
        <textarea class="form-control" cols="10" rows="5" style="resize: none;">댓글내용원본</textarea>
        <div style="margin-top: 10px;">
          <input type="button" class="btn custom-btn edit-apply" value="댓글수정">
          <input type="button" class="btn custom-btn edit-cancel" value="수정취소">
        </div>
      </div>
      <div style="text-align: right">
        <!--<th:block th:if="만약 내가 작성한 글이라면 나오게끔 수정">-->
        <input type="button" class="btn custom-btn comment-edit" value="수정">
        <input type="button" class="btn custom-btn comment-delete" value="삭제">
        <!--</th:block>-->
      </div>
    </div>
  </section>
</div>
</html>
