<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minicine.minicinema.mapper.MovieMapper">

    <select id="selectAll" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
        ORDER BY movie.movie_id;
    </select>

    <select id="selectAllPaging" parameterType="map" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
        JOIN movie_director ON movie.movie_id = movie_director.movie_id
        JOIN director ON movie_director.director_id = director.director_id
        ORDER BY movie.movie_id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectOneByMovieId" parameterType="Long" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, age, country, running_time, release_date, production_company, plot, img, director.director_name
        FROM movie
        JOIN movie_director ON movie.movie_id = movie_director.movie_id
        JOIN director ON movie_director.director_id = director.director_id
        WHERE movie.movie_id = #{movieId}
    </select>

    <select id="selectByKeyword" parameterType="String" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT DISTINCT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN movie_actor ON movie.movie_id = movie_actor.movie_id
                 JOIN actor ON movie_actor.actor_id = actor.actor_id
        WHERE title LIKE #{keyword}
        OR director.director_name LIKE #{keyword}
        OR actor.actor_name LIKE #{keyword}
        ORDER BY movie.movie_id;
    </select>

    <select id="selectByKeywordPaging" parameterType="map" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT DISTINCT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN movie_actor ON movie.movie_id = movie_actor.movie_id
                 JOIN actor ON movie_actor.actor_id = actor.actor_id
        WHERE title LIKE #{keyword}
        OR director.director_name LIKE #{keyword}
        OR actor.actor_name LIKE #{keyword}
        ORDER BY movie.movie_id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectByTitle" parameterType="String" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
        WHERE title LIKE #{keyword}
        ORDER BY movie.movie_id;
    </select>

    <select id="selectByTitlePaging" parameterType="map" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
        WHERE title LIKE #{keyword}
        ORDER BY movie.movie_id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectByDirector" parameterType="String" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
        WHERE director.director_name LIKE #{keyword}
        ORDER BY movie.movie_id;
    </select>

    <select id="selectByDirectorPaging" parameterType="map" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
        WHERE director.director_name LIKE #{keyword}
        ORDER BY movie.movie_id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectByActor" parameterType="String" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT DISTINCT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN movie_actor ON movie.movie_id = movie_actor.movie_id
                 JOIN actor ON movie_actor.actor_id = actor.actor_id
        WHERE actor.actor_name LIKE #{keyword}
        ORDER BY movie.movie_id;
    </select>

    <select id="selectByActorPaging" parameterType="map" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT DISTINCT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN movie_actor ON movie.movie_id = movie_actor.movie_id
                 JOIN actor ON movie_actor.actor_id = actor.actor_id
        WHERE actor.actor_name LIKE #{keyword}
        ORDER BY movie.movie_id
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectById" parameterType="Long" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN favorite ON movie.movie_id = favorite.movie_id
        WHERE favorite.id = #{id}
        ORDER BY movie.movie_id;
    </select>

    <select id="selectByGenre" parameterType="String" resultType="com.minicine.minicinema.dto.MovieDto">
        SELECT
            movie.movie_id, title, release_date, img, director.director_name
        FROM movie
                 JOIN movie_director ON movie.movie_id = movie_director.movie_id
                 JOIN director ON movie_director.director_id = director.director_id
                 JOIN movie_genre ON movie.movie_id = movie_genre.movie_id
                 JOIN genre ON movie_genre.genre_id = genre.genre_id
        WHERE genre_name LIKE #{genreName}
        ORDER BY movie.movie_id;
    </select>
</mapper>